body {
 padding-bottom: 0px;
  position: relative;
}

/* navbar */

.navbar-default {
  color: #e8e6e6;
  background-color:transparent;
  border-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
  color: #e8e6e6;
}


.navbar-inverse{
  background-color:#222222;
  background-image: none;
  background-repeat: no-repeat;
}
.navbar-inverse .navbar-brand>img{
  width: 20%;
  height: auto;
  padding-top: 1px;
}


/* logo */
.navbar-brand .logo{
  width: 20%;
  height: auto;
  padding-top: 1px;
}


/* Slide */

.carousel {
  height: 500px;
  margin-bottom: 60px;
}

.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  opacity: 0.5;
}

.carousel-caption {
  z-index: 10;
}

.carousel-caption h1{
  font-size: 52px;
  line-height: 1.4;
}

.carousel-caption h5{
  font-size: 16px;
}

/*bloque de contenido*/
#equipo h5, #contacto h5, #contacto2 h5{
  font-size: 16px;
  line-height: 1.4;
}

#equipo img{
  width: 60%;
  height: auto;
}

.jumbotron{
   border-top: 1px solid #cbcaca;
  border-bottom: 1px solid #cbcaca;
}

#contacto2{
  padding-top: 35px;
  padding-bottom: 35px;
}
#footer{
  background-color: #222222;
  color: #ffff;
  padding-top: 15px;
  padding-bottom: 15px;
}


/* querys */

@media only screen and (max-width: 768px) {
  .navbar-brand{
    float: initial;
  }

  .navbar-brand .logo{
    width: 25%;
    padding-left: 15px;
    align-items: center;
  }

  .navbar-inverse .navbar-brand>img{
      width: 25%;
    }

  .carousel-caption h1{
    font-size: 30px;
  }

  .carousel-caption h5{
      font-size: 12px;
  }  

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.4;
  }

  #equipo h5, #contacto h5, #contacto2 h5{
    font-size: 12px;
    line-height: 1.2;
  }

   #equipo h4, #footer h4{
    font-size: 15px;
    line-height: 1.2;
  }

  #equipo h3, #contacto h3{
    font-size: 20px;
    line-height: 1.2;
  }

}
